

<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    {% bootstrap_css %}
    <link href="{% static 'css/my-tasks-styles.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="ie-edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Tarefas - ListView</title>
</head>
<body>
    {% bootstrap_messages %}
    {% include 'fixed-return-button.html' %}
    {% if database|length == 0 %}
        <div class="container mt-5 text-center">
            <h2 class="text-danger">Não há tarefas adicionadas!</h2>
            <hr>
            <a class="btn btn-primary" href="{% url 'createtask' %}">Adicionar tarefa</a>
        </div>
    {% else %}
        <div class="container">
            <h2 class="mb-5 mt-5 text-primary">Suas tarefas</h2>
            {% include 'tasks-table.html' %}
            {% include 'pagination.html' %}
        </div>
    {% endif %}

{% bootstrap_javascript jquery='full' %}
</body>
</html>
