

<div class="row mt-5">
    <div class="form-group ma mb-2">
        <label class="sr-only" for="first_name">Campo para escrever o primeiro nome</label>
        <input type="text" class="form-control" id="first_name" max="100" min="2" name="first_name" placeholder="seu primeiro nome" size="20" required>
    </div>
</div>

<div class="row">
    <div class="form-group ma mb-2">
        <label class="sr-only" for="last_name">Campo para escrever o sobrenome</label>
        <input type="text" class="form-control" id="last_name" max="100" min="2" name="last_name" placeholder="seu sobrenome" size="20"  required>
    </div>
</div>

<div class="row">
    <div class="form-group ma mb-2">
        <label class="sr-only" for="username">Campo para escrever o nome de usuário/apelido</label>
        <input type="text" class="form-control" id="username" max="100" min="2" name="username" placeholder="seu nome de usuário" size="20" required>
    </div>
</div>

<div class="row">
    <div class="form-group ma mb-2">
        <label class="sr-only" for="email">Campo para escrever e-mail</label>
        <input type="email" class="form-control" id="email" max="100" min="2" name="email" placeholder="seu e-mail" size="20" required>
    </div>
</div>

<div class="row">
    <div class="form-group ma mb-2">
        <label class="sr-only" for="password">Campo para escrever senha</label>
        <input type="password" class="form-control" id="password" max="100" min="2" name="password" placeholder="sua senha" size="20" required>
    </div>
</div>

<div class="row">
    <div class="form-group ma mb-2">
        <label class="sr-only" for="password_confirm">Campo para reescrever a senha</label>
        <input type="password" class="form-control" id="password_confirm" max="100" min="2" name="password_confirm" placeholder="sua senha novamente" size="20" required>
    </div>
</div>
