

<div class="row">
    <div class="form-group ma mb-2">
        <label class="blink-text" for="username">Nome de usuário</label>
        <label class="sr-only" for="username">Campo para escrever o nome de usuário/apelido</label>
        <input class="form-control" id="username" max="100" min="2" name="username" type="text" required>
    </div>
</div>

<div class="row">
    <div class="form-group ma mb-3">
        <label class="blink-text"  for="password">Senha</label>
        <label class="sr-only" for="password">Campo para escrever senha</label>
        <input class="form-control" id="password" max="100" min="2" name="password" type="password" required>
    </div>
</div>
